:root {
    /*Colores*/
    /*Primarios*/
    --Very_dark_blue: hsl(233, 47%, 7%); /*(main background):*/
    --Dark_desaturated_blue: hsl(244, 38%, 16%); /*(card background)*/
    --Soft_violet: hsl(277, 64%, 61%); /*(accent)*/
    /*Neutral*/
    --White: hsl(0, 0%, 100%); /*(main heading, stats)*/
    --Slightly_transparent_white_1: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
    --Slightly_transparent_white_2: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/
    /* Tipografia*/
    /*Body*/
    --font_size_parrafo: 15px;
    /*Fuente*/
    --font-family-inter: 'Inter', sans-serif;
    --font-family-lexen: 'Lexend Deca', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Very_dark_blue);
    padding-top: 70px;
    
}
.filtro {
    position: relative;
}
.filtro ::after {
    content: "";
    width: 100%;
    background: var(--Soft_violet);

    position: absolute;
    inset: 0;
    opacity: 0.4;
}
.contenedor_estatus{
    width: 85%;
    margin: 0px auto;
    border-radius: 3%;
    background-color: var(--Dark_desaturated_blue);
    overflow: hidden;
}
.contenedor_estatus picture {
    width: 50%;
    
}
.contenedor_estatus picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}




.contenedor_informacion {
    width: 80%;
    margin: 10px auto;
    
    text-align: center;
    
}
.contenedor_informacion h2 {
    font-family: var(--font-family-lexen);
    letter-spacing: 2px;
    font-size: 25px;
    color: var(--White);
    font-weight: 700;
}
.contenedor_informacion p {
    font-family: var(--font-family-inter);
    font-size: var(--font_size_parrafo);
    color: var(--Slightly_transparent_white_1);
    line-height: 2;
    font-weight: 400;
}
.contenedor_informacion span {
    color: var(--Soft_violet);
}
.contenedor_informacion_estatus_pagina {
    font-size: 25px;
    font-family: var(--font-family-lexen);
    font-weight: 400;
    color: var(--White);
    line-height: 1.6;
    text-transform: uppercase;
}
.contenedor_informacion_estatus_titulos {
    padding-bottom: 30px;
    color: var(--Slightly_transparent_white_2);
    font-weight: 400;
    font-size: var(--font_size_parrafo);
    font-family: var(--font-family-lexen);
    text-transform: uppercase;
}